@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.body{
    font-size: 1rem;
}

#container{
    padding: 30px;
    display: grid;
    grid-template-columns: 100px, 50px, 1fr;
    gap: 10px;
}

.announcement{
    height: 50px;
    width: 700px;
    font-size: 2.3rem;
    text-align: center;
    justify-self: center;
}

#gameboard{
    height: 920;
    width: 920;
    display: grid;
    grid-template-columns: repeat(3, 250px);
    border: 2px solid black;
    justify-self: center;
    align-self: center;
    font-family: montserrat;
}

.header{
    justify-self: center;
    font-size: 2.7rem;
}

.tile{
    border: 1px solid black;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    font-family: Montserrat
}

.tile:hover{
    background-color: rgba(148, 255, 127, 0.384);
}

.modal{
    height: 120px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.end-message{
    font-size: 1.5rem;
    font-weight: bold;
}

#restart{
    height: 30px;
    width: 100px;
    font-weight: bold;
}

.invalid:hover{
    background-color: rgba(255, 0, 0, 0.548);
}
